<template>
    <a target="_blank" rel="noreferrer noopener" href="https://nextcloud.com/sharing#sortion@cloud.ortion.fr" style="padding:10px;background-color:#0082c9;color:#ffffff;border-radius:3px;padding-left:4px;">
        <span style="background-image:url(https://cloud.ortion.fr/core/img/logo/logo.svg?v=0);width:50px;height:30px;position:relative;top:8px;background-size:contain;display:inline-block;background-repeat:no-repeat; background-position: center center;"></span>
        Share with me via Nextcloud
    </a>
</template>