<script setup>
import { onMounted } from 'vue';
import CalHeatmap from 'cal-heatmap';
import Tooltip from 'cal-heatmap/plugins/Tooltip';
import LegendLite from 'cal-heatmap/plugins/LegendLite';
import CalendarLabel from 'cal-heatmap/plugins/CalendarLabel';
import 'cal-heatmap/cal-heatmap.css';

const cal = new CalHeatmap();

function paintCalendar() {
    cal.paint({
        data: {
            source: '/data/commit-count-SamuelOrtion.csv',
            type: 'csv',
            x: 'date',
            y: d => +d['count'],
            groupY: 'max',
        },
        scale: {
            color: {
                type: 'threshold',
                range: ['#14432a', '#166b34', '#37a446', '#4dd05a'].reverse(),
                domain: [1, 5, 10],
            },
        },
        date: {
            start: new Date("2023-01-01"),
        },
        domain: {
            type: 'month',
            gutter: 4,
            label: { text: 'MMM', textAlign: 'start', position: 'top' },
        },
        subDomain: { type: 'ghDay', radius: 2, width: 11, height: 11, gutter: 4 },
        itemSelector: '#ex-ghDay',
    }, [
        [
            Tooltip,
            {
                text: function (date, value, dayjsDate) {
                    return (
                        (value ? value : 'No') +
                        ' commits on ' +
                        dayjsDate.format('dddd, MMMM D, YYYY')
                    );
                },
            },
        ],
        [
            LegendLite,
            {
                includeBlank: true,
                itemSelector: '#ex-ghDay-legend',
                radius: 2,
                width: 11,
                height: 11,
                gutter: 4,
            },
        ],
        [
            CalendarLabel,
            {
                width: 30,
                textAlign: 'start',
                text: () => dayjs.weekdaysShort().map((d, i) => (i % 2 == 0 ? '' : d)),
                padding: [25, 0, 0, 0],
            },
        ],
    ]);
}

onMounted(() => paintCalendar());
</script>

<template>
    <div class="contributions">
        <div>

            <div id="ex-ghDay" className="margin-bottom--md"></div>

            <div id="ex-ghDay" className="margin-bottom--md"></div>
        </div>
        <div class="legend items-center">
            <span style="color: '#768390'">Less</span>
            <div id="ex-ghDay-legend" style="display: 'inline-block';"></div>
            <span style="display: 'inline-block'">More</span>
        </div>
        <div>

            <!-- <button class="button btn-primary m-1" href="#" 
            @click.prevent="cal.previous">
                ← Previous
            </button>
            <button class="button btn-primary m-1" href="#" @click.prevent="cal.next">
                Next →
            </button> -->
        </div>
    </div>
</template>


<style scoped>
.contributions {
    background: '#22272d';
    color: '#adbac7';
    border-radius: '3px';
    padding: '1rem';
    overflow: 'hidden';
    display: flex;
    flex-direction: column;
}

.legend {
    float: 'right';
    font-size: 12;
}

.more-button {
    color: '#768390';
    font-size: 12;
}
</style>