<template>
  <footer>
    <div class="flex col  md:row separate center">
      <p class="copyright">
        {{ $t('Contenu sous licence') }}
        &nbsp;
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        &nbsp;-&nbsp;
        <span class="year">
          {{ year }}
        </span>.
      </p>
      <p class="author">
        🄯 2022 -
        <a href="mailto:samuel+web@ortion.fr">Samuel ORTION</a>
      </p>
      <p class="techno">
        {{ $t('Fait avec') }}
        <span class="love">
          &hearts;
        </span>
        {{ $t('et') }}
        &nbsp;
        <a href="https://nuxtjs.org/">
          <img class="icon nuxt" src="/media/nuxt-colored-logo.svg" alt="Nuxt.js">
        </a>.
        &nbsp;
        <a href="https://forge.chapril.org/sortion/samuel.ortion.fr/">
          {{ $t('Voir le code source') }}
        </a>.
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'MyFooter',
  data() {
    return {
      year: new Date().getFullYear(),
      name: 'Samuel ORTION'
    }
  }
}
</script>

<style>
footer {
  color: white;
  background-color: #333;
  padding: 1em;
}

.icon {
  max-height: 1rem;
  display: inline-flex;
  align-self: baseline;
}

span,
a {
  margin: 0 0.1em;
}

.love {
  color: red;
}
</style>
