<template>
  <div class="hero">
    <div class="flex flex-col">
      <span class="text-animate text-color-primary">
        {{ $t("Salut, je m'appelle") }}
      </span>
      <h1 class="name large">
        Samuel ORTION.
      </h1>
      <p class="flex col">
        <span class="studies">
          {{ $t('Je suis étudiant en bioinformatique') }}
          {{ $t('à') }}
          <span class="univ">
            {{ $t("l'Université Paris-Saclay") }}.
          </span>
        </span>
      </p>
    </div>
    <!-- <div class="flex-col">
      <h2>{{ $t('My git history') }}</h2>

      <MyCommits />
    </div> -->
    <!-- <MyCloud /> -->
  </div>
</template>

<style>
.hero {
  padding-top: 1rem;
}
.hero .large {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 1rem;
}

.hero div {
  display: flex;
}
</style>
