<template>
  <header class="flex flex-col md:flex-row items-center justify-around">
    <MyLogo />
    Samuel ORTION
    <MyMenu />
  </header>
</template>

<style>
  header {
    @apply p-4;
  }
</style>
