<template>
  <div class="lang dropdown relative self-center">
    <button
      class="dropdown-toggle
          px-6
          py-2.5
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:shadow-lg
          focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-blue-800 active:shadow-lg active:text-white
          transition
          duration-150
          ease-in-out
          flex
          items-center
          whitespace-nowrap"
      data-dropdown-toggle="dropdown"
      @click="toggleDropdown"
    >
      {{ $i18n.locale }}
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="caret-down"
        class="w-2 ml-2"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <path
          fill="blue"
          d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
        />
      </svg>
    </button>
    <ul
      class="
          dropdown-menu
          min-w-max
          absolute
          hidden
          bg-white
          text-base
          z-50
          py-2
          list-none
          text-left
          rounded-lg
          shadow-lg
          mt-1
          m-0
          bg-clip-padding
          "
    >
      <li v-for="(locale, index) in availableLocales" :key="index" :value="locale.code">
        <nuxt-link
          :key="locale.code"
          :to="switchLocalePath(locale.code)"
          class="dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700"
          >{{ locale.name }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedLang: ''
    }
  },
  computed: {
    availableLocales () {
      return this.$i18n.locales
    }
  },
  methods: {
    toggleDropdown (event) {
      document.querySelector('.lang.dropdown .dropdown-menu').classList.toggle('hidden')
    }
  }
}
</script>

<style>
  .lang.dropdown .dropdown-menu li, .lang.dropdown .dropdown-menu li a:hover {
    text-decoration: none;
  }

 .menu .dropdown a:hover {
    border: none;
  }

  .menu .dropdown-menu {
    /** Fix background on dark theme using nuxt colors, lighter */
    background-color: var(--bg-secondary);
  }
</style>
