<template>
  <div class="logo">
    <router-link :to="localePath('index')">
    <img src="/media/toucan-logo.png" alt="Toucan Logo" :title="$t('Retour à l\'accueil')">
    </router-link>
  </div>
</template>

<style>
.logo img {
  max-height: 5em;
}

.logo {
  display: flex;
  flex-direction: row;
 }

.logo a {
  align-self: center;
}
</style>
