<template>
  <div class="menu flex flex-row items-center justify-around">
    <nav class="flex flex-col sm:flex-row">
      <div class="nav-item">
        <i data-feather="home" />
        <div :class="toggleActive('index')">
          <router-link :to="localePath('index')">
            {{ $t('Accueil') }}
          </router-link>
        </div>
      </div>
      <div class="nav-item">
        <i data-feather="user" />
        <div :class="toggleActive('resume')">
          <router-link :to="localePath('resume')">
            {{ $t('CV') }}
          </router-link>
        </div>
      </div>
      <div class="nav-item">
        <i data-feather="code" />
        <div :class="toggleActive('projects')">
          <router-link :to="localePath('projects')">
            {{ $t('Projets') }}
          </router-link>
        </div>
      </div>
      <div class="nav-item">
        <i data-feather="book" />
        <div :class="toggleActive('blog')">
          <a href="https://blog.samuel.ortion.fr/">
            {{ $t('Blog') }}
          </a>
        </div>
      </div>
      <div class="nav-item">
        <i data-feather="link" />
        <div :class="toggleActive('links')">
          <router-link :to="localePath('links')">
            {{ $t('Links') }}
          </router-link>
        </div>
      </div>
    </nav>
    <MyThemeSwitch />
    <MyLangSwitch />
  </div>
</template>

<script setup>
const route = useRoute()
function toggleActive(pageName) {
  let pageLocation = route.name.split('__')[0];
  if (pageLocation == pageName) {
    return "active";
  } else {
    return "";
  }
}
</script>

<style>
.menu .nuxt-link-exact-active,
.menu .nuxt-link-exact-active:hover {
  border-bottom: 2px solid blue;
}

.menu a:hover {
  border-bottom: 2px solid grey;
}

.menu .active a {
  border-bottom: 2px solid blue;
}

.menu .nav-item {
  display: flex;
  flex-direction: row;
  padding-left: 0.5em;
}

.menu a {
  display: flex;
  flex-direction: row;
  margin: 0 1em;
  color: var(--text-color);
}

.menu a svg {
  margin-right: 0.5em;
}
</style>
