<template>
  <div class="project">
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>
    <a :href="project.link">{{ project.link }}</a>
    <a :href="project.code" class="fa-code" :title="$t('Voir le code source')">
      <font-awesome-icon icon="code"/>
    </a>
  </div>
</template>

<script>
export default {
  props: ['project']
}
</script>
