<template>
  <div class="theme self-center">
    <button class="theme-switch" :aria-label="$t('Changer de theme')" @click="switchTheme">
      <i data-feather="moon" class="switch light-hidden" />
      <i data-feather="sun" class="switch dark-hidden" />
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    switchTheme () {
      this.$colorMode.preference = this.$colorMode.preference === 'dark' ? 'light' : 'dark'
    }
  }
}
</script>

<style>
  .light-mode .dark-hidden {
    display: none;
  }
  .dark-mode .light-hidden {
    display: none;
  }
</style>
