<template>
	<div class="resume-dated-title mt-4">
		<div class="flex flex-row">
			<h3 class="flex-1 text-xl font-bold">
				<a class="link" v-if=website :href="website" target="_blank">{{ title }}</a>
				<span v-else>{{ title }}</span>
			</h3>
			<span class="date text-right">{{ date }}</span>
		</div>
		<div class="flex flex-row">
			<hr class="line flex-1 place-self-center">
			<span class="font-bold">{{ location }}</span>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['title', 'date', 'location', 'website']
	}
</script>

<style scoped>
	.line {
		border: 1px solid var(--color-primary);
	}

	.date {
		color: var(--color-primary);
		min-width: 10em;
	}

	.link {
		color: var(--color);
	}
</style>