<template>
<div class="resume main-title">
	<h2>{{ title  }}</h2>
	<hr class="main-title-line">
	<span class="main-title-icon">
		<font-awesome-icon :icon="icon"/>
	</span>
</div>
</template>

<script>
	export default {
		props: ['title', 'icon']
	}
</script>

<style>
	.main-title h2 {
		background-color: var(--color-primary);
		color: black;
		padding: 0.25em;
		border-radius: 0.15em;
	}
	.main-title {
		display: flex;
		flex-direction: row;
	}

	.main-title-line {
		align-self: center;
		flex-grow: 1;
		border: 1px solid var(--color-secondary);
	}

	.main-title-icon {
		align-self: center;
		text-align: center;
		color: black;
		width: 1em;
	}

	.main-title-icon {
		align-self: center;
		width: 2em;
		height: 2em;
		background-color: var(--color-primary);
		border-radius: 0.15em;
	}
</style>