@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #243746;
  --color-primary: green;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: lightgreen;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.text-color-primary {
  color: var(--color-primary)
}

.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

a {
  color: var(--color-primary);
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

h1 {
  align-self: left;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  md:row {
    flex-direction: row!important;
  }
}

@media screen and (max-width: 768px) {
  md:row {
    flex-direction: unset;
  }
}

.row {
  flex-direction: row;
}

.separate {
  justify-content: space-between;
}

span, a {
  margin: 0 0.1em;
}
