<template>
  <div class="root">
    <div class="content">
      <MyHeader />
      <main class="p-2">
        <NuxtPage />
      </main>
    </div>
    <MyFooter />
  </div>
</template>

<script>
import feather from 'feather-icons'
export default {
  name: 'DefaultLayout',
  mounted () {
    feather.replace()
  },
  methods: {
  }
}
</script>

<style>
  .root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
  }

  main {
    @apply m-4;
  }

  </style>
