<template>
  <div class="contact">
    <h1>{{ $t('Me contacter') }}</h1>
    <form>
      <input id="name" v-model="name" type="text" name="name" :placeholder="$t('Nom')">
      <input id="email" v-model="email" type="email" name="email" :placeholder="$t('Email')">
      <textarea
        id="message"
        v-model="message"
        name="message"
        cols="30"
        rows="10"
        :placeholder="$t('Ecrivez quelque-chose...')"
      />
      <button type="submit" class="button flex flex-row btn-primary" @click.prevent="send">
        <i data-feather="mail" class="p-1" />
        {{ $t('Envoyer') }}
      </button>
    </form>
    <div :class="type">
      {{ notification }}
    </div>
  </div>
</template>

<script>
// Translate title
export default {
  name: 'ContactPage',
  data: () => ({
    email: '',
    name: '',
    message: '',
    notification: '',
    type: ''
  }),
  head () {
    const baseTitle = 'Samuel ORTION'
    return {
      title: this.$t('Contact'),
      titleTemplate (title) {
        return `${title} - ${baseTitle}`
      }
    }
  },
  methods: {
    send () {
      if (this.email && this.name && this.message) {
        useFetch('/mail/send', {
          from: this.name,
          subject: 'Message from website',
          text: this.message
        }).then((res) => {
          if (res === 'OK') {
            this.notify({
              title: this.$t('Message envoye'),
              message: this.$t('Votre message a bien ete envoye'),
              type: 'success'
            })
          } else {
            this.notify({
              title: this.$t('Erreur'),
              message: this.$t("Une erreur est survenue lors de l'envoi du message"),
              type: 'error'
            })
          }
        }).catch((err) => {
          console.error(err)
          this.notify({
            title: this.$t('Erreur'),
            message: this.$t("Une erreur est survenue lors de l'envoi du message"),
            type: 'error'
          })
        })
      }
    },
    notify ({ title, message, type }) {
      this.email = ''
      this.name = ''
      this.message = ''
      this.notification = `${title}: ${message}`
      this.type = type
    }
  }
}
</script>

<style>
input,
textarea {
  width: 100%;
  padding: 0.8em;
  border: 2px solid #ccc;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

.error {
  color: red;
}

.success {
  color: green;
}

input, textarea {
  color: var(--text-color);
  background-color: var(--bg-color);
}
</style>
