<template>
    <div class="home">
      <MyHero />
    </div>
</template>

<script>
export default {
  name: 'IndexPage',
  head () {
    const baseTitle = 'Samuel ORTION'
    return {
      title: this.$t('Accueil'),
      titleTemplate (title) {
        return `${title} - ${baseTitle}`
      }
    }
  }
}
</script>
