<template>
    <div>
        <h1> {{ $t("L'arbre de liens de ") }} Samuel ORTION</h1>
        <div class="link-tree">
            <div class="link-tree-item">
                <a href="https://blog.samuel.ortion.fr/">
                    {{ $t('Blog') }}
                </a>
            </div>
            <div class="link-tree-item">
                <a href="https://lab.samuel.ortion.fr">
                    {{ $t('Lab Notes') }}
                </a>
            </div>

            <div class="link-tree-item">
                <a href="https://gallery.samuel.ortion.fr/">
                    {{ $t('Galerie') }}
                </a>
            </div>

            <div class="link-tree-item">
                <a href="https://framagit.org/sortion/">
                    Framagit
                </a>
            </div>
            
            <div class="link-tree-item">
                <a href="https://forge.chapril.org/sortion/">
                    Forge Chapril
                </a>
            </div>

            <div class="link-tree-item">
                <a href="https://gitlab.com/sortion/">
                    GitLab
                </a>
            </div>
            
            <div class="link-tree-item">
                <a href="https://github.com/UncleSamulus/">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</template>

<style scoped>
h1 {
    color: var(--color-primary);
    text-align: center;
}
.link-tree {
    @apply flex flex-col justify-center m-auto max-w-4xl;
}

.link-tree-item {
    border: 1px solid var(--color-primary);
    @apply text-center m-2 p-4;
}
</style>

<script>
export default {
  name: 'LinksPage'
}
</script>
