<template>
  <div class="projects">
    <div class="projects">
      <MyProject v-for="project in projects" :key="project.title" :project="project" />
    </div>
  </div>
</template>

<script setup>
const { locale } = useI18n()
const { body }= await queryContent(`projects.${locale.value}`).findOne()
const projects = body
</script>

<script>
export default {
  name: 'ProjectsPage',
  head () {
    const baseTitle = 'Samuel ORTION'
    return {
      title: this.$t('Projets'),
      titleTemplate (title) {
        return `${title} - ${baseTitle}`
      }
    }
  }
}
</script>
