<template>
  <div class="resume">
    <h1><i>{{ $t('Curriculum Vitae') }}</i></h1>
    <article class="">
      <ResumeMainTitle :title="$t('Études')" :icon="'fa-graduation-cap'" />
      <div v-for="study in cv.education" :key="study">
        <ResumeDatedTitle :title="study.degree" :date="study.date" :location="study.institution" :website="study.website"/>
        <p>{{ study.summary }}</p>
      </div>
    </article>
    <article class="">
      <ResumeMainTitle :title="$t('Expériences')" :icon="'fa-suitcase'" />
      <div v-for="experience in cv.experiences" :key="study">
        <ResumeDatedTitle :title="experience.position" :date="experience.date" :location="experience.company" :website="experience.website"/>
        <p>{{ experience.summary }}</p>
      </div>
    </article>
    ({{ $t('dernière modification le ') }} {{ cv.meta.updated }})
  </div>
</template>

<script setup>

const { locale } = useI18n()
const cv  = await queryContent(`resume/resume.${locale.value}`).findOne()
</script>

<style scoped>
  .resume li {
    list-style: disc;
  }
  
  article  {
    margin-top: 2em;
  }
</style>
